---
const { id, picture, picture2, name, type, love, link } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="wine, winebar, vinbar, wineshop, vinshop, naturvin, natural wine, local, local wine, organic wine, organic, vinbar københavn, vinbar nørrebro, winebar copenhagen" />
    <title>Pompette</title>
    <link rel="stylesheet" href="https://use.typekit.net/sit4hmp.css" />
    <link rel="stylesheet" href="https://use.typekit.net/sit4hmp.css" />
  </head>
  <body>
    <main>
      <h1>This month's <span>{type}</span></h1>
      <div class="grid_2">
        <div class="grid_1-1">
          <img src={picture2} alt="" />
          <img src={picture} alt="" />
        </div>
        <div class="beskrivelse">
          <p class="overskrift">{name}</p>
          <div class="grid1-1">
            <div>
              <p>Why we love it:</p>
              <p>{love}</p>
            </div>
            <div>
              <a href={link}>
                <div class="image-container">
                  <img class="hover" src="/../../../tell-me-more-knap-hover.webp" alt="tell me more" />
                  <img class="knap" src="/../../../tell-me-more-knap.webp" alt="tell me more" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  @media only screen and (max-width: 700px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-right: 15%;
      gap: 3%;
    }
    .grid1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 10%;
    }

    img {
      width: 100%;
    }
    h1 {
      font-family: athena, sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 45px;
      margin-bottom: 3%;
      line-height: 1.5em;
      color: #ff0000;
    }
    .overskrift {
      color: #ff0000;
      margin: 5% 0% 0% 10%;
    }
    .image-container {
      position: relative;
      width: 170px;
      height: 140px;
      margin: 40% 0% 10% -20%;
      cursor: pointer;
    }

    .image-container img {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    .image-container img:hover {
      opacity: 0;
    }

    .image-container .hover-image {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .image-container:hover .hover-image {
      display: block;
    }
  }
  @media only screen and (min-width: 700px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .grid1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 0%;
    }
    .grid_2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 7%;
      margin-bottom: 7%;
    }
    img {
      width: 90%;
    }
    h1 {
      font-family: athena, sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 45px;
      line-height: 1.5em;
      color: #ff0000;
      position: absolute;
      margin-left: 39%;
      margin-top: 0%;
    }
    .overskrift {
      margin: 0% 0% 2% 0%;
    }
    .beskrivelse {
      margin-top: 15%;
    }
    .image-container {
      position: relative;
      width: 170px;
      height: 140px;
      margin: 45% 0% 10% -100%;
      cursor: pointer;
    }

    .image-container img {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    .image-container img:hover {
      opacity: 0;
    }

    .image-container .hover-image {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .image-container:hover .hover-image {
      display: block;
    }
  }
  /* ------ Generel styling, skrifttyper osv. ------- */

  h2 {
    font-family: athena, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    line-height: 1.5em;
    color: #ff0000;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }

  p,
  li {
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.5em;
  }
  li {
    line-height: 1em;
  }
</style>
