---
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
  const data = await fetch("https://bnppmezjjsymjjfbqyse.supabase.co/rest/v1/Pompette", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJucHBtZXpqanN5bWpqZmJxeXNlIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ0MTM5NDksImV4cCI6MTk5OTk4OTk0OX0.QKzx0IPHBKonSSjH8S7r8lllC8IldDTgaP7clAxevi4",
    },
  }).then((response) => response.json());

  return data.map((wine) => ({
    params: { slug: wine.slug },
    props: { wine },
  }));
}

const { wine } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/ncl1pci.css" />
    <link rel="stylesheet" href="https://use.typekit.net/ncl1pci.css" />
    <title>Singleview</title>
  </head>
  <Header />
  <main>
    <a href="/listeview" class="product"> ← BACK</a>
    <h1>{wine.name}</h1>
    <div class="grid2">
      <img src={`/${wine.picture2}`} alt="vin" id="images_lille" />
      <img src={`/${wine.picture}`} alt="vin" id="images" />
      <div>
        <section class="purchaseBox">
          <h2 class="price">Price: {wine.price} kr</h2>
          <p class="description">{wine.text}</p>
          <p>Vintage: {wine.vintage}</p>
          <p>Grape(s): {wine.grape}</p>
          <p>Region: {wine.region}</p>
          <p>Country: {wine.country}</p>
          <p>Colour: {wine.colour}</p>
          <p>Type: {wine.type}</p>
          <p>Size: {wine.size} ml</p>
          <div class="image-container">
            <img class="hover" src="../add_knap_hover.webp" alt="instagram" />
            <img class="insta_knap" src="../add_knap.webp" alt="instagram" />
          </div>
        </section>
      </div>
    </div>
  </main>
  <Footer />
  <!-- <script>
    function changeImage(imageSrc) {
      var mainImage = document.getElementById("main-image");
      // mainImage.src = imageSrc;
    }
  </script> -->
  <style>
    body {
      font-family: Poppins;
    }

    h1 {
      color: red;
      font-size: 35px;
      line-height: 1.5em;
      margin-left: 2.5%;
      margin-bottom: 0%;
      margin-top: 2%;
      font-family: "athena", sans-serif;
    }
    #images {
      width: 70%;
      margin-left: 2%;
    }
    #images_lille {
      width: 100%;
    }
    .btn {
      display: inline-block;
      background: red;
      color: white;
      padding: 8px 30px;
      margin: 30px 0;
      border-radius: 30px;
      transition: background 0.5s;
    }
    .btn:hover {
      background: black;
    }

    .grid2 {
      display: grid;
      grid-template-columns: 1fr 3fr 3fr;
      gap: 20px;
      padding: 50px;
      font-size: 14px;
      line-height: 1.5em;
      font-family: century-gothic, sans-serif;
      margin-left: -1.5%;
    }
    .grid2 img {
      width: 100%;
    }
    .price {
      font-family: "athena", sans-serif;
      color: red;
      font-size: 25px;
    }
    .product {
      margin-left: 35px;
      font-size: 14px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.526);
      font-family: century-gothic, sans-serif;
    }
    .product:hover {
      color: red;
    }
    .description {
      margin-top: 10px;
    }
    .image-container {
      position: relative;
      width: 170px;
      height: 140px;
      margin: 4% 0% 0% 0%;
      cursor: pointer;
    }
    .purchaseBox {
      margin-left: -20%;
      margin-top: -4%;
    }
    .image-container img {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    .image-container img:hover {
      opacity: 0;
    }

    .image-container .hover-image {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .image-container:hover .hover-image {
      display: block;
    }

    /* Media Queries */

    @media only screen and (max-width: 700px) {
      h1 {
        margin-left: 2%;
        margin-bottom: -7%;
      }
      .product {
        margin-left: 10px;
      }
      .grid2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-left: -10%;
      }
      #images {
        width: 140%;
        margin-left: -25%;
      }
      #images_lille {
        width: 70%;
      }
      .purchaseBox {
        margin-left: 2%;
      }
      .description {
        margin-right: -200px;
      }
      .image-container {
        width: 140px;
        height: 110px;
      }
    }
  </style>


</html>
